<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197756551218-4mkavi4olgs2jl9kedouan9m93jj7psf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197756551218-4mkavi4olgs2jl9kedouan9m93jj7psf</string>
	<key>API_KEY</key>
	<string>AIzaSyA6XPwaPigR7FSfHn5GiHSynRNXwbuL2F8</string>
	<key>GCM_SENDER_ID</key>
	<string>197756551218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolTodo</string>
	<key>PROJECT_ID</key>
	<string>school-todo-f5cca</string>
	<key>STORAGE_BUCKET</key>
	<string>school-todo-f5cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197756551218:ios:821b41b2a6885203e07c2b</string>
</dict>
</plist>